{
  "extends": [
    "react-app",
    "react-app/jest",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": "warn",
    "prefer-const": "error",
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-double"],
    "indent": ["warn", 2],
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["error", "always"],
    "react-hooks/exhaustive-deps": "off" 
  }
}
