.section {
  padding: 100px 0 ;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

.header {
  visibility: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.content {
  display: flex;
  flex-direction: row;
}

.blockDescr {
  max-width: 530px;
  width: 100%;
  margin-right: 17px;
}

.listTask {
  list-style: none;
  padding: 0;
  margin: 0;
}




@keyframes fade-in {
  0%{
    opacity: 0;
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-out {
  0%{
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    transform: translateY(-100px);
    opacity: 0;
  }
}
.itemExitActive{
  animation: fade-out 500ms forwards ;
}
.itemEnterActive{
  animation: fade-in 500ms forwards;
}
